name: Format

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  format:
    name: nix format
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
          extra-conf: lazy-trees = true

      - name: Set Up Cachix
        uses: cachix/cachix-action@v14
        with:
          name: nix-dev-shell
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Check formatting
        run: |
          if ! nix run nixpkgs#nixfmt-tree .; then
            nix run nixpkgs#nixfmt-tree .
            git diff
            exit 1
          fi

